section#about-me {
    min-height: 124vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: $white;
    padding: 0 2rem;

    @include tablet {
        padding: 0 6rem;
    }
}

#about {
    position: absolute;
    top: 4rem;
    z-index: 10;
}

.about-text-graphic {
    width: 640px;
    position: absolute;
    top: 4rem;
    left: -5rem;
    z-index: 0;
    opacity: .1;
    transition: width .2s;

    @include tablet {
        width: 640px;
        top: 2.5rem;
        left: -1.5rem;
        opacity: .075;
    }

    @include desktop {
        top: 12rem;
        left: -4rem;
        width: 1400px;
        opacity: .075;
    }
}




div#about-me-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    gap: 16px;
    z-index: 10;

    @include desktop {
        margin: 0;
        flex-direction: row;
        gap: 40px;
    }
}

.about-mobile-header {
    display: flex;

    @include desktop {
        display: none;
    }
}

.about-desktop-header {
    display: none;

    @include desktop {
        display: flex;
        
    }
}

.about-me-img-container {
    position: relative;
    width: 100%;
    height: 85vw;
    box-shadow: $long-shadow-red;
    border: 2px solid $black;
    display: inline-block; 
    overflow: hidden;
    margin-bottom: 2rem;

    @include fontAdjust {
        width: 400px;
        height: 400px;
    }
}

.about-me-img-container div.image-overlay {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: $soft-grey;
    opacity: .05;
    mix-blend-mode: screen;
}

.about-me-img-container img {
    width: 100%;
    position: absolute;
    top: -8vw;
    z-index: 0;

    @include fontAdjust {
        top: -4rem;
    }
}

div#about-me-text-container {
    max-width: 520px;

    @include tablet {
        max-width: 664px;
    }
}

#about-me-text-container h4 {
    margin-bottom: .5rem;
}


div.resume-link {
    margin-top: 1rem;
}

a.link-with-icon {
    display: inline-flex;
    flex-direction: row;
    gap: 9px;
}

.link-with-icon h6 {
    text-decoration: underline;
    display: inline-block;
}

.link-with-icon > * {
    align-self: center;
}

div#about-me-text-container a#about-me-resume-link {
    display: inline-block;
    font-size: 18px;
}


#about-me-title span {
    text-transform: lowercase;
}

#about-me-text-container h3 {
    display: block;
}

#about-me-container div.hero-text-block {
    padding: 0 0 1rem;
}

#about-me-text-container p {
    margin-bottom: 0 !important;
    max-width: none;
}


