section#about-me {
    min-height: 124vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: $white;
    padding: 0 4rem;
}

#about {
    position: absolute;
    top: 4rem;
    z-index: 10;
}


.about-text-graphic {
    width: 120vw;
    position: absolute;
    top: 2rem;
    left: -12rem;
    z-index: 0;
    opacity: .075;

    @include tablet {
        width: 960px;
        position: absolute;
        top: 4rem;
        left: -14rem;
    }

    @include desktop {
        width: 960px;
    }
}


div#about-me-container {
    width: 92.5%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    max-width: 1100px;

    @include desktop {
        width: 100%;
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
    }
}

div#about-me-text-container {
    max-width: 560px;
}

#about-me-text-container h4 {
    margin-bottom: .5rem;
}


div.resume-link {
    margin-top: 1rem;
}

a.link-with-icon {
    display: inline-flex;
    flex-direction: row;
    gap: 9px;
}

.link-with-icon h6 {
    text-decoration: underline;
    display: inline-block;
}

.link-with-icon > * {
    align-self: center;
}

div#about-me-text-container a#about-me-resume-link {
    display: inline-block;
    font-size: 18px;
}


#about-me-title span {
    text-transform: lowercase;
}

#about-me-text-container h3 {
    display: block;
}

#about-me-container div.hero-text-block {
    padding: 0 0 1rem;
}

#about-me-text-container p {
    margin-bottom: 0 !important;
    max-width: none;
}