footer {
    background-color: $accent-red;
    min-height: 80vh;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid $black;
    box-shadow: inset 0px 24px 16px rgba(0, 0, 0, 0.1);
    color: $white;
    position: relative;
    overflow: hidden;
}

.say-hello-section {
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    position: relative;
    padding-left: 8rem;
}

.footer-content {
    position: relative;
    margin: 0 4rem;
    z-index: 9999;
}

.footer-content > .hero-text-block {
    display: inline-block;
    padding: 0 0 1rem;
}

.footer-content > .hero-text-block p {
    display: inline;
}

.footer-content > .hero-text-block svg {
    margin-left: 1rem;
}

.email-link {
    margin-top: 1rem;
}

a.white {
    color: $white;
    transition: color .2s;
}

a.white:hover {
    color: $charcoal;
}

img.footer-bg-graphic {
    position: absolute;
    top: -52rem;
    right: -45rem;
    width: 1600px;
    z-index: 0;
    opacity: .3;

    @include desktop {
        opacity: 1;
    }
}