footer {
    background-color: $accent-red;
    min-height: 80vh;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid $black;
    box-shadow: inset 0px 24px 16px rgba(0, 0, 0, 0.1);
    color: $white;
    position: relative;
    overflow: hidden;
}

.say-hello-section {
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    position: relative;
    padding-left: 4rem;
}

.footer-content {
    position: relative;
    margin: 0 2rem;
    z-index: 9999;

    @include desktop {
        margin: 0 4rem;
    }
}

.footer-content > .hero-text-block {
    display: inline-block;
    padding: 0 0 1rem;
}

.footer-content > .hero-text-block p {
    display: inline;
}

.footer-heading span {
    font-family: $serif-one;
    font-size: 16.5vw;
    line-height: 24.5vw;

    @include fontAdjust {
        font-size: 64px;
        line-height: 1.5;
    }
}

.footer-content > .hero-text-block svg {
    margin-left: 1rem;
}

.email-link {
    margin-top: 1rem;
}

a.white {
    color: $white;
    transition: color .2s;
}

a.white:hover {
    color: $soft-black;
}

img.footer-bg-graphic {
    position: absolute;
    top: -52rem;
    right: -45rem;
    width: 1600px;
    z-index: 0;
    opacity: .3;

    @include desktop {
        opacity: 1;
    }
}

img.sword-rose {
    width: 500px;
    position: absolute;
    top: 6rem;
    right: -4rem;
    opacity: .2;
    transition: opacity .3s;

    @include tablet {
        width: 60vw;
        opacity: .7;
    }

    @include desktop {
        width: 640px;
        position: absolute;
        top: 6rem;
        right: -4rem;
        opacity: 1;
    }
}

footer .media-links-container {
    display: inline-block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    @include tablet {
        display: none;
    }
}