ul.error-marquee {
    list-style-type: none;
    margin-bottom: 24px;
}

.error-korean li {
    margin-right: 24px;
    opacity: .2;
}

.error-russian li {
    margin-right: 24px;

}

.error-japanese li {
    margin-right: 40px;
}

.error-english li  {
    margin-right: 40px;
}

.error-norwegian li {
    margin-right: 32px;
}


.error-hindi li {
    margin-right: 16px;
}

.error-chinese li {
    margin-right: 32px;
}

.error-arabic li {
    margin-right: 16px;
}

.error-thai li {
    margin-right: 24px;
}

img.red-fill {
    filter: invert(63%) sepia(65%) saturate(5842%) hue-rotate(333deg) brightness(94%) contrast(102%);
}

.error-message-container {
    height: 400px;
    width: 720px;
    background-color: 	hsla(4, 76%, 63%, .95);
    // background: linear-gradient($gradient-angle-left-right, hsla(25, 77%, 63%, .95), hsla(5, 87%, 60%, .95));
    // clip-path: polygon(100% 0, 100% 85%, 90% 100%, 0 100%, 0 0);
    border: 2px solid $white;
    box-shadow: $long-shadow;
    position: absolute;
    top: 12rem;
    left: 9rem;
    z-index: 9999;
    padding: 2rem;
    color: $white;
}

.error-heading{
    font-size: 128px;
    font-family: $serif-one;
    line-height: 1;
}

.error-body {
    margin: 2rem 0 4rem;
    max-width: 560px;
}

.back-to-home {
    color: $white;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 700;
    transition: color .3s;
    display: inline-block;
}

.back-to-home:hover {
    color: $off-white;
}