section#landing-section {
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    min-height: 135vh;
    // padding: 3rem 0;
    position: sticky;
    top: 0;
    z-index: -100;

    @include tablet {
        padding: 4rem 0;
    }

    @include desktop {
        padding: 0;
        padding-top: 0;
    }
}

/***** HERO TEXT BLOCK *****/

div.superhero-text-block {
    padding-left: 1.5rem;
}

div.superhero-text-block h1 {
    font-family: $serif-one;
    color: $black;
    letter-spacing: -2px;
    font-size: 11vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16vw;
    font-weight: 700;
    padding: 0;
    transition: font-size .3s;
    letter-spacing: -5px;

    @include fontAdjust {
        font-size: 60px;
        line-height: 80px;
    }

    @include tablet {
        font-size: 216px;
        line-height: 184px;
    }    
}

div.landing-bottom {
    height: 320px;
    width: 100%;
    background-color: $accent-red;
    position: relative;
    border-top: 2px solid $black;
    margin-bottom: 35vh;
}

div.landing-bottom-hero-text {
    padding: 1.5rem 1.75rem;
}

div.landing-bottom-hero-text span {
    font-family: $serif-two;
    font-weight: 200;
    letter-spacing: -2px;
    font-size: 11vw;
    color: $white;
    line-height: 16vw;
    font-weight: 300;
    padding: 0;
    transition: font-size .3s;
    max-width: none;

    @include fontAdjust {
        font-size: 60px;
        line-height: 80px;
    }

    @include tablet {
        font-size: 48px;
        line-height: 1.2;
   
    }    
}

.landing-bottom-hero-text span.bold {
    font-family: $serif-one;
    font-weight: 700;
    color: $white;
    letter-spacing: normal;
} 

div.hero-text-first-row {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-bottom: 14vw;
 
    @include fontAdjust {
     padding-bottom: 4.75rem;
    }
 
    @include tablet {
     padding-bottom: 5.5rem;
    }
 
    @include desktop {
     flex-direction: row;
     gap: 16px;
     padding: 0;
    }
 }
 
 div.hero-text-second-row, div.hero-text-third-row {
     display: inline;
 
     @include tablet {
         display: block;
        } 
 }
 
 div.hero-text-third-row {
     padding-left: 4vw;
 
     @include fontAdjust {
         padding-left: 18px;
     }
 
     @include tablet {
         padding-left: 0;
     }
 }
 
 div.glitch-text-container {
     display: inline-block;
     position: relative;
 }
 
  div.glitch {
     position: absolute;
     visibility: hidden;
 }
 
 .glitch.visible {
     visibility: visible;
 }

 .spacey-ui-graphics {
    position: absolute;
    top: -7.25rem;
    right: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    opacity: 1;
}

.spacey-ui-graphics img {
    width: 100px;
    flex-basis: 32.5%;
    display: block;
}

.cyber-banner {
    width: 400px;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

// div.landing-bottom-rect-accent {
//     height: 100px;
//     width: 400px;
//     position: absolute;
//     top: 1.5rem;
//     right: 1.5rem;
//     border: 2px solid $white;
// }

// div.rect-accent-left {
//     height: 100%;
//     width: 25%;
//     border-right: 2px solid $white;
//     float: left;
// }

// .song-graph {
//     width: 100%;
// }

// div.rect-accent-right {
//     float: right;
//     width: 75%;
//     position: relative;
// }

// .rect-right-img {
//     position: absolute;
//     right: 4px;
//     top: 4px;
// }

div.white-black-type-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    max-width: 560px;
    gap: 8px;
    position: absolute;
    top: 10rem;
    right: 1.5rem;
}

div.white-black-type-block span {
    font-size: 18px;
    font-weight: 700;
}
div.white-black-type-block span:nth-child(odd) {
    color: $white;
}

div.white-black-type-block span:nth-child(even) {
    color: $black;
}

div.concealing-shape-white {
    width: 100%;
    height: 115vh;
    min-height: 4320px;
    position: absolute;
    top: 115vh;
    z-index: -5;
}

.concealing-shape-white .border-trick {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    z-index: 0;
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
}

.concealing-shape-white .shape {
    position: absolute;
    top: 2px;
    width: 100%;
    height: 100%;
    background-color: $off-white;
    z-index: 5;
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
}

.st-george {
    position: absolute;
    right: -5rem;
    top: -5rem;
    width: 80%;
    z-index: 5;
}

.gradient-bars {
    position: absolute;
    top: 50rem;
    right: 11.25rem;
    z-index: 0;
}


div.concealing-shape-red {
    width: 100%;
    height: 115vh;
    min-height: 4320px;
    position: absolute;
    top: 120vh;
    z-index: -5;
}

.concealing-shape-red .border-trick {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    z-index: 0;
    clip-path: polygon(0 0, 100% 7.5%, 100% 100%, 0% 100%);
}

.concealing-shape-red .shape {
    position: absolute;
    top: 2px;
    width: 100%;
    height: 100%;
    background-color: $accent-red;
    z-index: 5;
    clip-path: polygon(0 0, 100% 7.5%, 100% 100%, 0% 100%);
}

.shape-inner-container {
    position: relative;  
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.red-bg-img {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 2rem;
    z-index: 0;
}

.maze-texture {
    width: 100%;
    position: absolute;
    top: 135vh;
}

.top-left-bg-elem {
    position: absolute;
    left: 1.5rem;
    top: 5rem;
    z-index: 5;
}

.top-right-bg-elem {
    position: absolute;
    right: 1.5rem;
    top: 21rem;
    z-index: 5;
}



.red-bg-quote {
    font-family: $serif-one;
    font-weight: 700;
    color: $white;
    width: 800px;
    height: 380px;
    font-size: 56px;
    line-height: 1.5;
    position: absolute;
    top: 64rem;
    right: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.red-bg-quote blockquote {
    position: relative;
}

.red-bg-quote blockquote::before { 
    content: open-quote;
    font-weight: 700;
    font-size: 128px;
    position: absolute;
    left: -4.5rem;
    top: 3rem;
    line-height: 0;
}  

.red-bg-quote blockquote::after { 
    content: close-quote;
    font-weight: 700;
    font-size: 128px;
    position: absolute;
    bottom: 2rem;
    line-height: 0;
}

.red-bg-quote span {
    font-size: 44px;
}

.red-bg-quote span::before {
    content: '\2014';
    margin-right: 16px;
}

.cyber-texture-left {
    position: absolute;
    left: 1.5rem;
    bottom: 40rem;
}

.cyber-texture-right {
    position: absolute;
    right: 6rem;
    top: 36rem;
}

.down-arrow-container {
    position: absolute;
    z-index: 0;
    bottom: 1rem;
    left: 1rem;
    color: $white;
}

/****** MOBILE BG STYLES ******/

.mobile-bg-outer-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 40rem;
    left: 0rem;
    opacity: .1;
}

.mobile-bg-inner-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.mobile-landing-graphic {
    width: 100%;
    overflow: hidden;
}



  
 