section#landing-section {
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    min-height: 120vh;
    // padding: 3rem 0;
    position: sticky;
    top: 0;
    z-index: -100;

    @include tablet {
        padding: 0;
        min-height: 130vh;
    }

    @include desktop {
        padding: 0;
        padding-top: 0;
        min-height: 135vh;
    }
}

/***** HERO TEXT BLOCK *****/

div.superhero-text-block {
    padding-left: 1.5rem;
    padding-bottom: .5rem;
}

div.superhero-text-block h1 {
    font-family: $serif-one;
    color: $black;
    letter-spacing: -2px;
    font-size: 24vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: .8;
    font-weight: 700;
    padding: 0;
    transition: font-size .3s;
    letter-spacing: -5px;

    // @include fontAdjust {
    //     font-size: 128px;
    //     line-height: 108px;
    // }

    @include tablet {
        font-size: 176px;
    }

    @include desktop {
        font-size: 216px;
    }    
}

div.landing-bottom {
    height: 320px;
    width: 100%;
    background-color: $accent-red;
    position: relative;
    border-top: 2px solid $black;
    margin-bottom: 20vh;

    @include tablet {
        margin-bottom: 30vh;
    }

    @include desktop {
        margin-bottom: 35vh;
    }
}

div.landing-bottom-hero-text {
    padding: 1.5rem 1.75rem;
    width: 75%;
    max-width: 600px;
}

div.landing-bottom-hero-text span {
    font-family: $serif-two;
    font-weight: 200;
    letter-spacing: -2px;
    font-size: 7vw;
    color: $white;
    line-height: 1.2;
    font-weight: 300;
    padding: 0;
    transition: font-size .3s;
    max-width: none;

    @include fontAdjust {
        font-size: 6.25vw;
        line-height: 1.2;
    }

    @include tablet {
        font-size: 48px;
        line-height: 1.2;
   
    }    
}

.landing-bottom-hero-text span.bold {
    font-family: $serif-one;
    font-weight: 700;
    color: $white;
    letter-spacing: normal;
} 

div.hero-text-first-row {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-bottom: 8.75vw;
 
    @include fontAdjust {
     padding-bottom: 0;
     flex-direction: row;
     gap: 12px;
    }

    @include tablet {
        gap: 14px;
    }

    @include desktop {
        gap: 16px;
    }
 }
 
 div.hero-text-second-row, div.hero-text-third-row {
     display: block;
 
     @include tablet {
         display: block;
        } 
 }
 
 div.hero-text-third-row {
     padding-left: 0;
 }
 
 div.glitch-text-container {
     display: inline-block;
     position: relative;
 }
 
  div.glitch {
     position: absolute;
     visibility: hidden;
 }
 
 .glitch.visible {
     visibility: visible;
 }

 .spacey-ui-graphics {
    position: absolute;
    top: -10.25rem;
    right: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    opacity: 0;
    z-index: -10;

    @include desktop {
        top: -7.25rem;
        right: 1.5rem;
        opacity: 1;
    }
}

.spacey-ui-graphics img {
    width: 100px;
    flex-basis: 32.5%;
    display: block;
}

.cyber-banner-vertical {
    width: 68px;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    opacity: .7;
   
    @include fontAdjust {
        display: none;
    }
}

.cyber-banner {
    display: none;
   
    @include fontAdjust {
        width: 320px;
        display: inline-block;
        position: absolute;
        bottom: 1.5rem;
        right: 1.5rem;
    }

    @include desktop {
        top: 1.5rem;
        width: 400px;
    }
}

div.white-black-type-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    max-width: 560px;
    gap: 8px;
    position: absolute;
    top: 10rem;
    right: 1.5rem;
    opacity: 0;

    @include desktop {
        opacity: 1;
    }
}

div.white-black-type-block span {
    font-size: 18px;
    font-weight: 700;
}
div.white-black-type-block span:nth-child(odd) {
    color: $white;
}

div.white-black-type-block span:nth-child(even) {
    color: $black;
}

div.concealing-shape-white {
    width: 100%;
    height: 115vh;
    min-height: 4320px;
    position: absolute;
    top: 115vh;
    z-index: -5;
}

.concealing-shape-white .border-trick {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    z-index: 0;
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
}

.concealing-shape-white .shape {
    position: absolute;
    top: 2px;
    width: 100%;
    height: 100%;
    background-color: $off-white;
    z-index: 5;
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
}

.st-george {
    position: absolute;
    right: -5.5rem;
    top: .5rem;
    width: 120vw;
    // min-width: 800px;
    z-index: 5;

    @include fontAdjust {
        right: -5.5rem;
        top: 0rem;
    }

    @include tablet {
        right: -4.5rem;
        top: -3rem;
        width: 100vw;
    }

    @include desktop {
        right: -8.75rem;
        top: -6rem;
        width: 80vw;
    }
}

.gradient-bars {
    position: absolute;
    top: 45rem;
    right: 0rem;
    z-index: 0;
    width: 100vw;

    @include tablet {
        width: 80vw;
        right: 0rem;
    }
}


div.concealing-shape-red {
    width: 100%;
    height: 115vh;
    min-height: 4320px;
    position: absolute;
    top: 120vh;
    z-index: -5;
}

.concealing-shape-red .border-trick {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    z-index: 0;
    clip-path: polygon(0 0, 100% 7.5%, 100% 100%, 0% 100%);
}

.concealing-shape-red .shape {
    position: absolute;
    top: 2px;
    width: 100%;
    height: 100%;
    background-color: $accent-red;
    z-index: 5;
    clip-path: polygon(0 0, 100% 7.5%, 100% 100%, 0% 100%);
}

.shape-inner-container {
    position: relative;  
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.red-bg-img {
    width: 100vw;
    min-width: 600px;
    margin: auto;
    position: absolute;
    top: 2rem;
    z-index: 0;

}

.maze-texture {
    width: 100vw;
    min-width: 1100px;
    position: absolute;
    top: 135vh;
}

.top-left-bg-elem {
    position: absolute;
    left: 1.5rem;
    top: 5rem;
    z-index: 5;
    width: 15vw;
    max-width: 120px;
}

.top-right-bg-elem {
    position: absolute;
    right: .5rem;
    top: 21rem;
    z-index: 5;
    width: 45vw;
    max-width: 400px;
    display: none;

    // @include tablet {
    //     display: inline-block;
    // }
}

.cyber-texture-right {
    position: absolute;
    right: 1rem;
    top: 22rem;
    width: 30vw;
    max-width: 320px;

    @include fontAdjust {
        // top: 160vw;
        
    }

    @include tablet {
        top: 22rem;
        right: 1rem;
        // width: 320px;
    }
}

.down-arrow-container {
    position: absolute;
    z-index: 0;
    bottom: 1rem;
    left: 1rem;
    color: $white;
}

/****** MOBILE BG STYLES ******/

.mobile-bg-outer-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 40rem;
    left: 0rem;
    opacity: .1;
}

.mobile-bg-inner-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.mobile-landing-graphic {
    width: 100%;
    overflow: hidden;
}


/****** SECTION HEADER STYLES ******/

.section-header {
    width: 100%;
    height: 72px;
    position: relative;
    margin-bottom: 3rem;
    transition: margin-bottom .2s;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-wrap: nowrap;

    @include desktop {
        margin-bottom: 5rem;
    }
}

.section-header.no-margin {
    margin-bottom: 0;
}

.header-strikethrough {
    width: 5%;
    height: 2px;
    background-color: $black;

}

.header-strikethrough:last-of-type {
    flex-grow: 1;
}

.section-header span {
    font-family: $serif-one;
    font-size: 15vw;
    line-height: 0;

    @include fontAdjust {
        font-size: 80px;
    }

    @include desktop {
        font-size: 104px;
    }
}

.header-accent {
    position: absolute;
    top: 50%;
    transform: translateY(-25px);
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.header-accent-circle {
    width: 14px;
    height: 14px;
    border: 2px solid $black;
    border-radius: 50%;
}

.header-accent span {
    font-family: $sans-serif;
    font-size: 16px;
}



  
 