img#logo-header {
    width: 36px;
    display: none;

    @include tablet {
        display: block;
    }
}

div#mobile-menu-header img {
    @include desktop {
        display: inline-block;
    }
}

div#mobile-menu-header img {
    height: 24px;
    width: 24px;
    right: 5.25%
}

div.project-card-img-container {
    width: 100%;
    height: 200px;
    background-size: cover;
    filter: saturate(0%) brightness(80%);
    transition: height .3s, filter .3s;


    @include tablet {
        height: 280px;
    }

    @include desktop {
        height: 100%;
        width: 50%;
        float: left;
        border-right: 2px solid $black;
    }
}

article.raised > div.project-card-img-container {
    filter: none;
}


.about-me-bg-graphic {
    position: absolute;
    top: 15rem;
    right: 0;
    z-index: -1;
    width: 900px;
    opacity: .25;

    @include desktop {
        opacity: .75;
    }
}

.about-me-img-container {
    position: relative;
    width: 100%;
    height: 400px;
    box-shadow: $long-shadow-red;
    border: 2px solid $black;
    display: inline-block; 
    overflow: hidden;
    margin-bottom: 2rem;

    @include tablet {
        width: 400px;
    }
}

.about-me-img-container div.image-overlay {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: $soft-grey;
    opacity: .05;
    mix-blend-mode: screen;
}

.about-me-img-container img {
    width: 100%;
    position: absolute;
    top: -2rem;
    z-index: 0;
}

div#color-stripe {
    display: none;
    height: 32px;
    width: 274px;
    background-color: $accent-red;
    mix-blend-mode: darken;
    position: absolute;
    top: 24px;
    left: 174px;

    @include desktop {
        display: block;
    }
}
  
img#diamond-shadow-shape {
    box-shadow:
    -4px 4px 4px rgba(51, 51, 51, .2),
    -8px 8px 8px rgba(51, 51, 51, .2)
}

/***** INTERNAL PROJECT PAGE IMAGE STYLES *****/

div.project-header-img-container {
    height: 280px;
    background-size: cover;
    border: 2px solid $black;
    transition: height .3s;

    @include tablet {
        height: 400px;
    }
}

ul.project-role-list li img.project-role-icon {
    width: 30px;
    margin-right: 8px;
    filter: invert(100%) sepia(100%) saturate(228%) hue-rotate(6deg) brightness(112%) contrast(107%);
}