html {
    background-color: $white;
}

body {
    color: $black;
    padding-top: $headerHeight;
}

main {
    min-height: 1000px;
    padding-bottom: 6rem;

    @include desktop {
        padding: 0 4rem 6rem;
    }
}

main.no-padding {
    min-height: 1000px;
    padding-bottom: 0;
}

div#header-base {
    width: 100%;
    position: absolute;
    height: $headerHeight;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: $white;
}


/***** HEADER *****/

header {
    background-color: $white;
    height: $headerHeight;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    transition: height .3s, top .4s ease-in-out, box-shadow .3s;
}

header a {
    text-decoration: none;
}

.header-up {
    top: $headerHide;
    border-bottom: 2px solid $black;
  }

// adjusting header style based on scroll position
html:not([data-scroll='0']) header.header-down {
      border-bottom: 2px solid $black;
      box-shadow: $full-width-shadow-subtle;
      height: 4rem;
}

div.header-content-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.logo-name-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3.75%;
    transition: left .5s;

    @include tablet {
        left: 1rem;
    }
}

.header-up div.header-content-container #name-description-container {
    left: 1.5rem;
  }

html:not([data-scroll='0']) header.header-down div.header-content-container #name-description-container {
    @include tablet {
        left: 1.5rem;
    } 
}

/***** ABOUT ME PAGE STYLES *****/

section#about-me {
    margin: 4rem 0;

    @include desktop {
        height: 100vh;
    }
}

div#about-me-container {
    width: 92.5%;
    margin: auto;

    @include desktop {
        width: 1040px;
        margin-left: 8rem;
    }
}

div#about-me-text-container {
    padding: 32px 0;

    @include tablet {
        padding: 0;
    }

    @include desktop {
        float: left;
        width: 47.5%;
        padding: 90px 32px;
    }
}

div#about-me-text-container p {
    max-width: none;
}

div.about-me-links {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

a.email-link-with-icon {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.email-link-with-icon > * {
    align-self: center;
}

div#about-me-text-container a#about-me-resume-link {
    margin-bottom: 2.5rem;
    display: inline-block;
    font-size: 18px;
}

/***** UNDER CONSTRUCTION PAGE STYLES *****/

section#under-construction {
    height: 500px;
    position: relative;
}

div#under-construction-container {
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translateY(-50%);
}

div#under-construction-container i {
    font-size: 148px;
}

div#under-construction-message-container {
    margin-top: 2rem;
}

div#under-construction-message-container h3 {
    margin-bottom: .5rem;
    display: block;
}

/***** INTERIOR PROJECT PAGE LAYOUT STYLES *****/

main.project-content {
    width: 92.5%;
    margin: auto;
    padding-top: 3rem;
    max-width: 680px;
    transition: width .3s;

    @include tablet {
        width: 70%;
    }
}

section.project-heading {
    margin-bottom: 40px;
}

div.project-role-list-container {
    margin: 1.5rem 0 2.5rem;


    // @include tablet {
    //    margin-bottom: 3.5rem;
    // }
   
}

div.project-role-list-container ul.project-role-list {
    list-style: none;
    display: flex;
    position: relative;
    padding: 0;
}

.role-list-grident-left {
    position: absolute;
    left: 0;
    z-index: 5000;
    height: 100%;
    background: linear-gradient(to right, hsl(60, 100%, 100%), hsla(60, 100%, 100%, 0%)) !important;
    width: 5%;
}

.role-list-grident-right {
    position: absolute;
    right: 0;
    z-index: 5000;
    height: 100%;
    background: linear-gradient(to left, hsl(60, 100%, 100%), hsla(60, 100%, 100%, 0%)) !important;
    width: 5%;
    margin-right: 0 !important;
}

div.project-role-list-container ul.project-role-list li {
    height: 35px;
    font-size: 18px;
    // font-weight: 500;
    color: $black;
    background-color: $white;
    // padding: 0.3rem 0.8rem;
    // padding-left: 0.7rem;
    display: flex;
    align-items: center;
    margin-right: 18px;
    &::before {
        content: '\25CF';
        padding-right: 18px;
    }
}






