html {
    background-color: $white;
}

body {
    color: $black;
    padding-top: 0;
}

main {
    min-height: 800px;
    width: 92.5%;
    margin: auto;
    transition: margin .3s;

    @include tablet {
        width: 85%;
        margin: 0;
        margin-left: 4rem;
    }

    @include desktop {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

main.no-padding {
    min-height: 1000px;
    padding: 0;
}


/***** UNDER CONSTRUCTION PAGE STYLES *****/

section#under-construction {
    height: 500px;
    position: relative;
}

div#under-construction-container {
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translateY(-50%);
}

div#under-construction-container i {
    font-size: 148px;
}

div#under-construction-message-container {
    margin-top: 2rem;
}

div#under-construction-message-container h3 {
    margin-bottom: .5rem;
    display: block;
}

/***** INTERIOR PROJECT PAGE LAYOUT STYLES *****/

main.project-content {
    width: 92.5%;
    margin: auto;
    padding: 3rem 0;
    max-width: 680px;
    transition: width .3s;

    @include tablet {
        width: 80%;
        margin: 0;
        margin-left: 4rem;
    }

    @include desktop {
        width: 80%;
        margin: auto;
    }
}

section.project-heading {
    margin-bottom: 40px;
}

div.project-role-list-container {
    margin: 1.5rem 0 2.5rem;


    // @include tablet {
    //    margin-bottom: 3.5rem;
    // }
   
}

div.project-role-list-container ul.project-role-list {
    list-style: none;
    display: flex;
    position: relative;
    padding: 0;
}

.role-list-grident-left {
    position: absolute;
    left: 0;
    z-index: 5000;
    height: 100%;
    background: linear-gradient(to right, hsl(60, 100%, 100%), hsla(60, 100%, 100%, 0%)) !important;
    width: 5%;
}

.role-list-grident-right {
    position: absolute;
    right: 0;
    z-index: 5000;
    height: 100%;
    background: linear-gradient(to left, hsl(60, 100%, 100%), hsla(60, 100%, 100%, 0%)) !important;
    width: 5%;
    margin-right: 0 !important;
}

div.project-role-list-container ul.project-role-list li {
    height: 35px;
    font-size: 18px;
    // font-weight: 500;
    color: $black;
    background-color: $white;
    // padding: 0.3rem 0.8rem;
    // padding-left: 0.7rem;
    display: flex;
    align-items: center;
    margin-right: 18px;
    &::before {
        content: '\25CF';
        padding-right: 18px;
    }
}






