html, body {
    font-family: $sans-serif;
    color: $black;
    font-size: 16px;
}


h1, h2 {
    font-size: 1em;
    font-family: $sans-serif;
}

h2 {
    font-weight: 400;
    margin-top: .2rem;
}

h3 {
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 8px;
    display: inline;

    @include desktop {
        font-size: 1.375em;
        margin-top: 0;
    }
}

h4 {
    font-size: 28px;
    font-family: $serif-one;

    @include desktop {
        font-size: 40px;
    }
}

h5 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;

    @include desktop {
        font-size: 24px;
    }
}

h6 {
    font-size: 16px;
    font-weight: 700;
    margin: 1rem 0;

    @include tablet {
        font-size: 1.125em;
    }
}

a {
    color: $black;
    text-decoration: none;
}

a:hover {
    color: $accent-red;
    transition: color .3s;
}

span.icon-pairing {
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 0 !important;
}

h3 a {
    text-decoration: underline;
}

p {
    line-height: 1.6;
    max-width: 445px;
    transition: font-size .3s;
    // font-family: $serif-two;

    @include tablet {
        font-size: 1.125em;
    }
}

span.bold {
    font-weight: 700;
}

span.white {
    color: $white;
}

span.uppercase {
    text-transform: uppercase;
}

.project-content p {
    max-width: none;
}

.card-button-link-content p {
    font-family: $sans-serif;
}

/***** INTERNAL PROJECT PAGE TYPOGRAPHY STYLES *****/

.project-header-text-container h4 {
    transition: font-size .3s;
    font-size: 56px;
}

.project-header-text-container h5 {
    transition: font-size .3s;
    font-size: 24px;

    @include tablet {
        font-size: 32px;
        margin-bottom: 16px;
    }   
}

p.project-summary {
    color: $grey;
}

.project-main-container p {
    color: $soft-black;
    margin-bottom: 2rem !important;
}

.project-main-container p:first-of-type::first-letter {
    font-family: $serif-two;
    color: $black;
    float: left;
    font-size: 3.4em;
    line-height: 40px;
    margin-top: 6px;
    margin-right: 8px;

    @include desktop {
        margin-top: 8px;
        margin-right: 8px;
    }
  
}

