@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Maitree:wght@200;300;400;500;600;700&display=swap"');

// Light mode colors
$white: #FFFFFE;
$off-white: #FCF6EE;
$grey: #5a5855;
$soft-grey: #F9F5F1;
$black: #222;
$soft-black: #292929;
$accent-red: #ee0500;
$accent-gold: #d99230;
$accent-fuschia: #B41CAE;
$charcoal: #344753;

// Accent Gradients 
$gradient-angle-left-right: 135deg;
$gradient-angle-top-down: 180deg;
$gradient-angle-top-down-adjusted: 147.5deg;

$black-transparent: 	hsla(25, 77%, 63%, 0);

//Box Shadows
$full-width-shadow-subtle: 0px 1px 3.3px rgba(0, 0, 0, 0.05), 0px 8px 16px rgba(0, 0, 0, 0.1);
$long-shadow: -10px 10px 0px rgba(0, 0, 0, 1);
$long-shadow-up: -10px -10px 0px rgba(0, 0, 0, 1);
$raised-shadow: -18px 18px 0px $black;
$long-shadow-red: -10px 10px 0px $accent-red;
$long-shadow-charcoal: -10px 10px 0px $charcoal;
$short-shadow: -4px 4px 4px rgba(0, 0, 0, 0.4);


// Fonts
$sans-serif: 'Helvetica Neue' , Helvetica , Arial , 'Lucida Grande' , sans-serif;
$serif-one: 'Frank Ruhl Libre', serif;
$serif-two: 'Maitree', serif;

//Variables for when header is slid down or up
//These values must be the same number in + / - values
$headerHeight: 5rem;
$headerHide: -5rem;

// Media Queries
$fontAdjustWidth: "screen and (min-width: 520px)";
$tabletWidth: "screen and (min-width: 768px)";
$desktopWidth: "screen and (min-width: 1240px)";


// Mixins
@mixin fontAdjust {
    @media #{$fontAdjustWidth} {
      @content;
    }
  }

@mixin tablet {
  @media #{$tabletWidth} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktopWidth} {
    @content;
  }
}